.App {
  text-align: center;
  width: 100%;
}
.header {
  background-color: orange;
  padding: 1rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.random-meal {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 4rem;
}
.random-meal_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
}
.random-meal_image {
  width: 30rem;
  border-radius: 4%;
  margin-left: auto;
  margin-right: 4rem;
}

.search-item {
  display: flex;
  flex-direction: row;
  margin: 0.005em;
}
.search-item_title {
  display: flex;
  align-items: center;
  flex-direction: column;
}